= form_for @list do |f|
  - if @list.errors.any?
    #error_explanation
      %h2= "#{pluralize(@list.errors.count, "error")} prohibited this list from being saved:"
      %ul
        - @list.errors.full_messages.each do |msg|
          %li= msg

  %h3= f.label "List Name"
  = f.text_field :name
  %ul
  =f.nested_fields_for :list_items do |list_item|
    %li
      =list_item.label  "Item"
      = list_item.text_field :description, :required => true
      = list_item.remove_nested_fields_link
  = f.add_nested_fields_link :list_items do
    %button New item
  .actions
    = f.submit 'Save'
