%p#notice= notice

%p
  %b Title:
  = @list.title
%p
  %b Tasks:
  = @list.tasks.size

= link_to 'Show List Tasks', list_tasks_path(@list)
\|
= link_to 'Edit', edit_list_path(@list)
\|
= link_to 'Back', lists_path
