<h3>Login</h3>
<%= form_with model: @user, url: sessions_path, method: "post" do |f| %>
    <%= f.label :username, "username" %>
    <%= f.text_field :username %>
    <%= f.label :password, "password" %>
    <%= f.password_field :password %>
    <%= f.submit "Sign up" %>
<% end %>