= form_for [@list, @task] do |f|
  -if @task.errors.any?
    #error_explanation
      %h2="#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        -@task.errors.full_messages.each do |msg|
          %li= msg

  .div.mb-3
    =f.label :name, class: 'form-label'
    =f.text_field :name, class: 'form-control'
  .div.mb-3.form-check
    = f.label :completed, class: 'form-label'
    = f.check_box :completed, class: 'form-check-input'
  %div.mb-3.muted NOTE: I only left the completed checkbox here on '.new' action to show you can't complete a new task.

  =f.submit 'Save', class: 'btn btn-primary'
