<h1> Tasks </h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Completed?</th>
    </tr>
  </thead>
  <tbody>
    <% if @tasks %>
      <% @tasks.each do |task| %>
        <tr>
          <td>
            <%= link_to task.name, list_task_path(task.list_id, task.id) %>
          </td>
          <td>
            <%= task.completed %>
          <td>
          <td>
            <%= link_to 'Edit this task', edit_list_task_path(task.list_id, task.id) %>
          </td>
          <td>
            <%= link_to 'Destroy this task', list_task_path(task.list_id, task.id), method: :delete %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>
          There are currently no tasks for this list.
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create new task', new_list_task_path %>
<br>
<%= link_to 'Show all tasks', list_tasks_path(status: :all) %>
<br>
<%= link_to 'Show only completed tasks', list_tasks_path(status: :completed) %>
<br>
<%= link_to 'Show only incompleted tasks', list_tasks_path(status: :incompleted) %>
