%h1= "Task '#{@task.name}'"

%table.table.table-striped.table-condensed
  %tr
    %th Name
    %td= @task.name
  %tr
    %th Completed
    %td
      - if @task.completed?
        %span.badge.bg-success Yes
      - else
        %span.badge.bg-danger No
  %tr
    %th Created At
    %td= @task.created_at
  %tr
    %th Updated At
    %td= @task.updated_at


=link_to 'Edit', edit_task_path(@task)
\|
=link_to 'Back', tasks_path
